<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff"/>
        <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
        <link rel="manifest" href="manifest.json">
        <link rel="icon" href="favicon.png">
        <meta name="description" content="This website is belong to Awosky, who is pursuing dicoding academy.">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&display=swap" rel="stylesheet">
        <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
        <title>GoRestaurant</title>
    </head>
    <body>  
        <a href="#maincontent" class="skip-link" tabindex="1">Skip to content</a>
        <header id="header">
            <div class="logo">
                <span>GoRestaurant</span>
            </div>
            <nav id="drawer" class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#/home">Home</a></li>
                    <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                    <li class="nav__item"><a href="https://welancer.space/">About Us</a></li>
                </ul>
            </nav>
            <div class="menus">
                <button id="menu" class="menu" tabindex="2">☰</button>
            </div>
        </header>
        <main>
            <section id="mainContent">
            </section>
        </main>
        <footer>
            <p>Copyright © 2021 - GoRestaurant</p>
        </footer>
    </body>
</html>
